* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  padding-bottom: 30px;
  font-size: 1.5em;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.flexy p {
  margin: 2em;
}

.match-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.3em;
  margin: 0 auto;
  border: solid #5cc9a0 1px;
  margin-bottom: 2em;
}

.match-box section {
  width: 40em;
}

.match-box img {
  height: 125px;
  margin-right: 15px;
}

.match-box ul {
  display: flex;
  flex-flow: wrap;
  width: 600px;
  flex-grow: inherit;
  justify-content: flex-start;
  list-style: none;
}

.actions {
  display: flex;
  flex-direction: column;
}

.match-box li {
  width: 16em;
  height: 4em;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fe5d6a;
  border: 0;
  padding: 15px;
  margin-top: 15px;
  color: #ffffff;
  font-size: 13px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  width: 190px;
}
button:hover,
button:active,
button:focus {
  background: #fe5d6a;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
