* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
}

h3 {
  padding: 1em 0;
  font-size: 1.5em;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.flexy p {
  margin: 2em;
}

.match-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.8em;
  margin: 0 auto;
  border: solid cadetblue 0.2em;
  margin-bottom: 2em;
}

.match-box section {
  width: 40em;
}

.match-box img {
  height: 125px;
}

.match-box ul {
  display: flex;
  flex-flow: wrap;
  width: 600px;
  flex-grow: inherit;
  justify-content: flex-start;
  list-style: none;
}

.match-box li {
  width: 16em;
  height: 4em;
}
