
<div class="page">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content">
        <h1>Détails du Trajet</h1>
        <ul>
          <li><h2>Départ</h2>
          <p>{{currentTrip?.startLocation.string}}</p>
          </li>

          <li><h2>Date</h2>
          <p>{{currentTrip?.departDateAndTime | date: "dd/MM/yy"}} </p>
          </li>

        <li>
          <h2>Heure</h2>
          <p> {{currentTrip?.departDateAndTime | date: "HH:mm"}}</p>
        </li>

        <li>
          <h2>Arrivée</h2>
          <p>{{currentTrip?.endLocation.string}}</p>
        </li>

        <li *ngIf="currentTrip?.comment">
          <h2>Informations Supplémentaires</h2>
          <p>{{currentTrip?.comment}}</p>
        </li>
      </ul>


      </div>
    </div>
    <div class="sidebar">
      <h2>Détails d'utilisateur</h2>
      <section class="about">
        <img [src]="currentTrip?.user.pictureURL" alt="Photo de {{currentTrip?.user.firstName}}">
        <h2>{{currentTrip?.user.firstName}} {{currentTrip?.user.lastName}}</h2>
      </section>

      <ul>
        <li><h4>Numéro de Téléphone:</h4>
           <h3>{{currentTrip?.user.phoneNumber}}</h3>
        </li>

        <li><h4>Adresse Mail:</h4>
          <h3>{{currentTrip?.user.email}}</h3>
        </li>
      </ul>

      <section *ngIf="currentTrip?.user.cars.length > 0">
        <h2>Voiture</h2>
        <p></p>
      </section>

      <section *ngIf="matchDetails">
        <h3 *ngIf="!matchDetails.acceptedByDriver || !matchDetails.acceptedByPassenger"><i>Ce voyage est en attente de confirmation</i></h3>
        <article *ngIf="matchDetails.acceptedByDriver && matchDetails.acceptedByPassenger">
          <h3>Ce trajet a été confirmé.</h3>
            <p>Veuillez contacter votre covoitureur par téléphone ou mail pour organiser ce voyage.</p>
        </article>
        <a routerLink="/requests">Voir vos rêquetes</a>
      </section>
      <br><br>


      <span *ngIf="currentTrip?.user._id !== connectedUser?._id && !matchDetails">
        <button class="request">Faire une demande</button>
        <br><br>
        <a routerLink="/user/{{currentTrip?.user._id}}">Voir son profil</a>
      </span>

      <span *ngIf="currentTrip?.user._id === connectedUser?._id">
        <button class="delete">Supprimer ce trajet</button>
        <br><br>
        <a routerLink="/dashboard">Retourner à votre tableau de bord</a>
      </span>
    </div>
  </div>
</div>