* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
}

.flexy {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 160px;
  width:400px;
}

img {
  border: solid 1px black;
  height: 150px;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}