* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
}

h3 {
  padding: 1em 0;
  font-size: 1.5em;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.flexy p {
  margin: 2em;
}

.match-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  border: solid cadetblue 0.2em;
  margin-bottom: 2em;
}

.match-box section {
  width: 40em;
}

.match-box img {
  height: 200px;
}

.match-box ul {
  display: flex;
  flex-flow: wrap;
  width: 800px;
  flex-grow: inherit;
  justify-content: flex-start;
  list-style: none;
}

.match-box li {
  width: 18em;
  height: 5em;
}

.map {
  margin-top: 120px;
  width:100%;
  height:800px
}


li a {
  color: darkblue;
  text-decoration: underline;
  font-weight: bold;
}

button {
  background-color: #fe5d6a;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 28px;
  height: 50px;
  /* margin: 0 auto; */
 }