* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
}

.center {
  text-align: center;
}

h3 {
  padding: 1em 0;
  font-size: 1.5em;
  margin-left: 10px;
}

.flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.flexy p {
  margin: 2em;
}

.match-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  border: solid cadetblue 0.2em;
  margin-bottom: 2em;
}

.match-box section {
  width: 40em;
}

.match-box ul {
  display: flex;
  flex-flow: wrap;
  width: 800px;
  flex-grow: inherit;
  justify-content: flex-start;
  list-style: none;
}

.match-box li {
  width: 18em;
  height: 5em;
}

.map {
  margin-top: 120px;
  width:100%;
  height:800px
}


li a {
  color: darkblue;
  text-decoration: underline;
  font-weight: bold;
}

button {
  background-color: #fe5d6a;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 28px;
  height: 50px;
 }


.container {
  position: relative;
  width: 250px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 13px;
  padding: 16px 32px;
  width: 60px;
}

section {
  margin-left: 15px;
}

.request {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 15px;
  color: #5cc9a0;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.request:hover {
 background: #5cc9a0;
 color: #ffffff;
}