<h2>Se connecter</h2>

<div class="login-page">
  <div class="form">
    <form (ngSubmit)="loginSubmit()" class="login-form">

      <input [(ngModel)]="loginForm.email" name="email" type="email" id="email" placeholder="Mon adresse mail">

      <input [(ngModel)]="loginForm.loginPassword" name="loginPassword" type="password" id="password" placeholder="Mon mot de passe">

      <button>Entrer</button>

      <p class="message">Pas encore de compte?
        <a routerLink="/signup">S'inscrire</a>
      </p>
    </form>
  </div>
</div>