<nav *ngIf="!myAuthServ.currentUser" class="navbar">
  <div>
    <a routerLink="/">
      <img src="../assets/images/logo.png" alt="logo" width="60px">
    </a>
  </div>

  <div class="links">
    <a routerLink="/login">CONNEXION</a>
    <a routerLink="/signup">INSCRIPTION</a>
  </div>
</nav>

<nav *ngIf="myAuthServ.currentUser" class="navbar">
  <a routerLink="/dashboard">
    <img src="../assets/images/logo.png" alt="logo" width="60px">
  </a>

  <div class="links">
    <a routerLink="/dashboard">
      TABLEAU DE BORD
    </a>
    <a routerLink="/trip/add">CREER UN TRAJET
      <fa-icon [icon]="faPlusCircle"></fa-icon>
    </a>
    <a routerLink="/requests">REQUETES</a>
    <a routerLink="/" (click)="logoutClick()">
      DECONNEXION
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>