<header>
  <h1>{{title}}</h1>

  <nav>
    <a routerLink="/">Accueil</a> |

    <span *ngIf="myAuthServ.currentUser">
      <b>Bonjour, {{myAuthServ.currentUser.firstName}} !</b> |
      <a routerLink="/dashboard">Mon tableau de bord</a> |
      <a routerLink="/settings">Paramètres</a> |
      <button (click)="logoutClick()">Déconnexion</button>
    </span>

    <span *ngIf="!myAuthServ.currentUser">
      <a routerLink="/login">Me connecter</a> |
      <a routerLink="/signup">M'inscrire</a>
    </span>
  </nav>
</header>

<router-outlet></router-outlet>