<h2>M'inscrire</h2>

<form (ngSubmit)="signupSubmit()">

  <input [(ngModel)]="signupForm.firstName" name="firstName" id="firstName" type="text" placeholder="Mon prénom">

  <input [(ngModel)]="signupForm.lastName" name="lastName" id="lastName" type="text" placeholder="Mon nom">

  <input [(ngModel)]="signupForm.phoneNumber" name="phoneNumber" id="phoneNumber" type="text" placeholder="Mon numéro de téléphone">

  <input [(ngModel)]="signupForm.email" name="email" id="email" type="email" placeholder="Mon adresse mail">

  <input [(ngModel)]="signupForm.originalPassword" name="originalPassword" id="password" type="password" placeholder="Mon mot de passe">

  <div class="switch-field">
    <input [(ngModel)]="signupForm.isDriver" type="radio" id="switch_left" name="isDriver" value="true" checked/>
    <label for="switch_left">Passager</label>

    <input [(ngModel)]="signupForm.isDriver" type="radio" id="switch_right" name="isDriver" value="false" />
    <label for="switch_right">Conducteur</label>
  </div>

  <button>Continuer</button>
</form>