<span class="header">
  <h1>Trajets à venir:</h1>

  <span class="links">
    <a routerLink="/trip/add">Créer un trajet</a>
    <a href="#">Requêtes #</a>
  </span>
</span>

<!-- <div>
  <ul *ngFor="let trip of tripData">
    <li>{{trip?.startLocation.string}} - {{trip?.endLocation.string}}</li>
    <li>{{trip?.departDateAndTime | date: "dd/MM/yy"}}</li>
    <li>{{trip?.departDateAndTime | date: "H:mm"}}</li>
    <li>OTHER USER INVOLVED</li>
    <li>
      <a routerLink="/trip/{{trip._id}}">Détails</a>
    </li>
  </ul>
</div> -->

<table id="customers">
  <tr *ngFor="let trip of tripData">
    <td>{{trip?.startLocation.string}} - {{trip?.endLocation.string}}</td>
    <td>{{trip?.departDateAndTime | date: "dd/MM/yy"}}</td>
    <td>{{trip?.departDateAndTime | date: "H:mm"}}</td>
    <td>OTHER USER</td>
    <td>
      <a routerLink="/trip/{{trip._id}}">
        <img src="../../../assets/images/details-icon.png" width="30px">
      </a>
    </td>
  </tr>
</table>