<span class="header">
  <h1>Trajets à venir:</h1>

  <span class="links">
    <button>
      <a routerLink="/trip/add">CREER UN TRAJET</a>
    </button>
    <button class="requests">
      <a routerLink="/requests">
        REQUÊTES EN ATTENTE
      </a>
    </button>
  </span>
</span>

<table id="customers">
  <tr *ngFor="let trip of tripData">
    <td>{{trip?.startLocation.string}} - {{trip?.endLocation.string}}</td>
    <td>{{trip?.departDateAndTime | date: "dd/MM/yy"}}</td>
    <td>{{trip?.departDateAndTime | date: "HH:mm"}}</td>
    <td>
      <a routerLink="/trip/{{trip._id}}">
        <img src="../../../assets/images/details-icon.png" width="30px">
      </a>
    </td>
  </tr>
</table>