<span class="header">
  <h1>Trajets à venir:</h1>

  <span class="links">
    <a routerLink="/trip/add">Créer un trajet</a>
    <a routerLink="/requests">
      <img src="../../../assets/images/request-icon.png">
    </a>
  </span>
</span>

<table id="customers">
  <tr *ngFor="let trip of tripData">
    <td>{{trip?.startLocation.string}} - {{trip?.endLocation.string}}</td>
    <td>{{trip?.departDateAndTime | date: "dd/MM/yy"}}</td>
    <td>{{trip?.departDateAndTime | date: "HH:mm"}}</td>
    <td>OTHER USER</td>
    <td>
      <a routerLink="/trip/{{trip._id}}">
        <img src="../../../assets/images/details-icon.png" width="30px">
      </a>
    </td>
  </tr>
</table>