h1 {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 40px 0px 20px;
  align-items: center;
  color: #55c9a0;
}

.header a {
  margin: 0 50px;
  text-decoration: none;
}

/* .header .requests {
  width: 50px;
  animation: shake 0.75s;
  animation-iteration-count: infinite;
} */

/* @keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
} */

.links {
  align-content: flex-end;
  padding-bottom: 20px;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

button {
  background-color: #fe5d6a;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 28px;
  height: 50px;
  margin: 0 2px auto;
}

button a {
  color: white;
}
