/* couleurs :
vert : #5cc9a0, rgb(92, 201, 160)
rose : fe5d6a, rgb(240, 240, 240)
bg gris : #F0F0F0, rgb(240, 240, 240)


Font : Roboto, Arial, sans-serif; */

@import "https://fonts.googleapis.com/css?family=Roboto";
@import "~font-awesome/css/font-awesome.css";

.col-3 {
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: center;
  width: 30%;
}

#top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/newlandingpageBG.jpg");
  background-position: center;
  background-size: cover;
  height: 1000px;
}

.text-area {
  max-width: 1920px;
  min-width: 920px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#top-section .text {
  width: 600px;
  height: 300px;
  margin: auto;
  font-size: 2em;
  color: white;
}

#about {
  /* height: 500px; */
}

#team {
  background-color: #f0f0f0;
}

#questions {
}

#contact {
  background-color: #5cc9a0;
  height: 500px;
  background-color: #5cc9a0;
}

#contact form {
  width: 50%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
}

button {
  background-color: #fe5d6a;
  border: none;
  width: 150px;
  color: white;
  font-size: 20px;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
