/* couleurs :
vert : #5cc9a0, rgb(92, 201, 160)
rose : fe5d6a, rgb(240, 240, 240)
bg gris : #F0F0F0, rgb(240, 240, 240)


Font : Roboto, Arial, sans-serif; */

@import "https://fonts.googleapis.com/css?family=Roboto";
@import "~font-awesome/css/font-awesome.css";

h1 {
  margin-top: 0px;
}

.col-3 {
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: center;
  width: 30%;
}

#top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/newlandingpageBG.jpg");
  background-position: center;
  background-size: cover;
  height: 900px;
}

#top-section .text {
  width: 600px;
  height: 300px;
  margin: auto;
  padding-top: 300px;
  font-size: 2em;
  color: white;
  text-align: center;
}

#top-section .text h1,
#top-section .text p {
  text-shadow: 2px 2px #000;
}

#about {
  height: 650px;
}

.text-area {
  max-width: 1920px;
  min-width: 920px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#team {
  background-color: #f0f0f0;
}

#questions {
  height: 650px;
}

#questions h2 {
  margin: 0 auto;
  margin-bottom: 15px;
}

#haut-gauche,
#milieu-droit,
#bas-gauche {
  width: 45%;
}

#questions .text-area {
  justify-content: space-evenly;
}

#milieu-droit {
  align-self: flex-end;
}

#timebar {
  position: absolute;
  left: 50%;
}

#timebar img {
  position: absolute;
  top: 80px;
  height: 500px;
}

#contact {
  background-color: #5cc9a0;
  height: 400px;
}

#contact form {
  width: 50%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
  margin: 0 auto;
}

button {
  background-color: #fe5d6a;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 28px;
  height: 50px;
  margin: 0 auto;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

button #signup {
  width: 450px;
}

button #envoyer {
  width: 150px;
}
