<section id="top-section">
  <div class="text">
    <h1>Ensemble, rendons
      <strong>accessible</strong> le covoiturage !</h1>
    <p>Avec
      <strong>loop</strong> optez pour une solution de covoiturage
      <em>
        pour chacun</em>
    </p>
    <button id="signup">
      <a routerLink="/signup">Rejoignez la communauté</a>
    </button>

  </div>
</section>


<section id="about">
  <div class="text-area">
    <h2>
      <fa-icon [icon]="faSearch"></fa-icon> A propos</h2>
    <p>loop est une application de
      <em>covoiturage</em> accessible pour les trajets quotidiens.</p>
    <p>Grâce à loop, le conducteur prend en charge le passager à son domicile, et le dépose à sa destination. L'utilisation
      est simple : l'application propose automatiquement la meilleure solution de covoiturage pour chacun. loop c'est aussi
      une équipe d'éducateurs qui apportent une assistance au covoiturage. Rejoindre loop, c'est participer ensemble à l'inclusion
      de tous dans la société.</p>
    <div class="col-3">
      <div class="col about-simple">
        <img src="../../assets/images/simplicite.jpg" alt="Simple">
        <h3>Simple</h3>
        <p>Mise en relation automatique des conducteurs et des passagers</p>
      </div>
      <div class="col about-inclusive">
        <img src="../../assets/images/inclusion.jpg" alt="Inclusif">
        <h3>Inclusif</h3>
        <p>Une solution de mobilité locale accessible à tous</p>
      </div>
      <div class="col about-connected">
        <img src="../../assets/images/connecte.jpg" alt="Connecté">
        <h3>Connecté</h3>
        <p>Une solution technologique au service de tous</p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="text-area">
    <h2>
      <fa-icon [icon]="faUsers"></fa-icon> L'équipe</h2>
    <q>Nous avons appris des personnes vulnérables qu'elles ont une utilité sociale. Elles ont besoin d'être soutenues pour
      prendre une place de citoyen à part entière dans notre société. En leur permettant de se déplacer comme leurs voisins,
      on renforce le lien social !
    </q>
    <p>L'équipe est née de la rencontre entre un foyer pour personnes en situation de handicap dans un village du Sud-Ouest
      et un groupe de développeurs.</p>

    <h3>Les fondateurs</h3>
    <div class="col-3 founding-members">
      <div class="col">
        <img src="" alt="">
        <h4>Solène</h4>
        <p>Educatrice Spécialisée</p>
        <p>Marketing/Commercial</p>
      </div>
      <div class="col">
        <img src="" alt="">
        <h4>Mickaël</h4>
        <p>Educateur sportif</p>
        <p>Marketing/Support</p>
      </div>
      <div class="col">
        <img src="" alt="">
        <h4>Enguerran</h4>

        <p>Dévelopeur</p>
        <p>CTO</p>
      </div>
    </div>

    <h3>L'équipe technique</h3>
    <div class="col-3 tech-team">
      <div class="col">
        <img src="" alt="">
        <h4>Meri-Pier</h4>
        <p>Développeuse Full-Stack</p>
      </div>
      <div class="col">
        <img src="" alt="">
        <h4>Manelle</h4>
        <p>Développeuse Full-Stack</p>
      </div>
      <div class="col">
        <img src="" alt="">
        <h4>Marie</h4>
        <p>Développeuse Full-Stack</p>
      </div>
    </div>
  </div>
</section>

<section id="questions">
  <div id="timebar">
    <img src="../../assets/images/timebar.png" alt="timebar">
  </div>
  <div class="text-area">
    <h2>
      <fa-icon [icon]="faQuestionCircle"></fa-icon> Des questions ?
    </h2>
    <div id="haut-gauche">
      <h4>Qui peut utiliser loop ?</h4>
      <p>Tout le monde ! Que vous soyez conducteur ou passager, tout le monde peut s'inscrire et participer. Nous allons bientôt
        commencer une phase de test dans le Morbihan.
      </p>
    </div>
    <div id="milieu-droit">
      <h4>Comment s'inscrire?</h4>
      <p>Il suffit de remplir le formulaire d'inscription situé
        <a routerLink="/signup"> ici</a>!
      </p>
      <p>Nous mettons en place des comptes de parrainage pour gérer le compte de personnes qui ne peuvent pas utiliser d'ordinateur.</p>
    </div>
    <div id="bas-gauche">
      <h4>Combien ça coûte ?</h4>
      <p>Le passager indemnise le conducteur pour la durée du trajet. Avec loop, tout le monde est gagnant !</p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="text-area">
    <h2>
      <fa-icon [icon]="faPaperPlane"></fa-icon> Contactez-nous</h2>
    <form action="">
      <input type="email" placeholder="Votre adresse mail">
      <input type="text" placeholder="Sujet">
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Message">
        </textarea>
      <button id="envoyer">Envoyer</button>
    </form>
  </div>
</section>