h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

/* .border {
  border-color: rgb(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: groove;
} */

.dash {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.dash img {
  align-self: center;
  width: 500px;
}

.user-info {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  width: 45%;
}

.left {
  margin-left: 65px;
}

.user-info span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-info span a {
  color: #fe5d6a;
}

.user-info ul {
  height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user-info li {
  padding: 30px 10px;
  list-style-type: none;
}

.user-cars {
  width: 100%;
}
