<div class="dash">
  <!-- <img [src]="userData?.pictureURL"> -->
  <img src="../assets/images/logo.png" alt="Photo de Profil">


  <div class="user-info left">
    <h1>Bonjour, {{userData?.firstName}} {{userData?.lastName}}!</h1>

    <span>
      <h3>Données personnelles</h3>
      <b>
        <a href="#">Modifer</a>
      </b>
    </span>

    <!-- <ul>
      <li>{{userData?.gender}}</li>
      <li>Adresse: {{userData?.address}}</li>
      <li>Téléphone: {{userData?.phoneNumber}}</li>
      <li>Mail: {{userData?.email}}</li>
    </ul> -->

    <!-- <div *ngIf="userData?.cars.length > 0" class="user-cars">
      <span>
        <h3>
          <i>Mes voitures</i>
        </h3>
        <b>
          <a href="#">Modifer</a>
        </b>
      </span>

      <ul>
        <li>Marque: {{userData?.gender}}</li>
        <li>Modèle: {{userData?.cars.model}}</li>
        <li>Couleur: {{userData?.cars.color}}</li>
        <li>Plaque: {{userData?.cars.licensePlate}}</li>
        <li>Nombre de sièges: {{userData?.cars.numberOfSeats}}</li>
      </ul>
    </div>
  </div> -->

  </div>

  <app-trip-list></app-trip-list>