<div class="login-page">
  <form (ngSubmit)="tripSubmit()" class="form">

    <div class="form-group">
      <label for="departAddress">Mon point de départ :</label>
      <input type="text" name="departAddress" id="departAddress" placeholder="Adresse de départ" autocorrect="off" autocapitalize="off"
        spellcheck="off" class="form-control" #searchDep [formControl]="searchControl">
    </div>


    <label for="arrivalAddress">Mon point d'arrivée :</label>
    <input type="text" name="arrivalAddress.string" id="arrivalAddress" placeholder="Adresse d'arrivée" autocorrect="off" autocapitalize="off"
      spellcheck="off" class="form-control" #searchArr [formControl]="searchControl">

    <div class="date">
      <label for="departDate">Date :</label>
      <input [(ngModel)]="tripForm.departDate" name="departDate" id="departDate" type="date" min="2018-01-01">
    </div>

    <div class="departTime">
      <label for="departHour">Heure :</label>
      <select [(ngModel)]="tripForm.departHour" name="departHour">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>

      </select>

      <p>h</p>

      <select [(ngModel)]="tripForm.departMin" name="departMin">
        <option value="00">00</option>
        <option value="05">05</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
        <option value="55">55</option>
      </select>
    </div>

    <!-- if Conducteur -->
    <!-- <select *ngIf="userData?.isDriver" [(ngModel)]="tripForm.car" name="car">
    <option *ngFor="let oneCar of userData?.cars" value="{{oneCar.model}}">{{oneCar.model}}</option>
  </select> -->

    <!-- if Passenger -->
    <!-- <select *ngIf="!userData?.isDriver" [(ngModel)]="tripForm.specificNeeds" name="specificNeeds">
    <option *ngFor="let oneNeed of userData?.specificNeedsA" value="{{oneNeed}}">{{oneNeed}}</option>
    <option value="{{userData?.specificNeedsB}}">{{userData?.specificNeedsB}}</option>
  </select> -->

    <label for="comment">Des commentaires ?</label>
    <textarea [(ngModel)]="tripForm.comment" name="comment" id="comment" cols="30" rows="10"></textarea>

    <button>Poster ce trajet</button>

    <p class="message">
      <a routerLink="/dashboard">Annuler</a>
    </p>
  </form>
</div>