<h2>Mes données personnelles</h2>

<div class="login-page">
  <div class="form">
    <form (ngSubmit)="settingsSubmit()" class="login-form">
      <input [(ngModel)]="settingsForm.firstName" name="firstName" id="firstName" type="text" placeholder="Mon prénom" value="{{currentUser?.firstName}}">
      <br>

      <input [(ngModel)]="settingsForm.lastName" name="lastName" id="lastName" type="text" placeholder="Mon nom" value="{{currentUser?.lastName}}">
      <br>

      <label for="exampleFormControlFile1">Modifier votre photo de profil</label>
      <input name="pictureURL" id="pictureURL" type="file" value="{{currentUser?.pictureURL}}">
      <br>

      <input [(ngModel)]="settingsForm.phoneNumber" name="phoneNumber" id="phoneNumber" type="text" placeholder="Mon numéro de téléphone"
        value="{{currentUser?.phoneNumber}}">
      <br>

      <label>Genre?</label>
      <div class="switch-field">
        <input [(ngModel)]="settingsForm.gender" name="gender" id="homme" type="radio" value="Homme" />
        <label for="homme">Homme</label>

        <input [(ngModel)]="settingsForm.gender" name="gender" id="femme" type="radio" value="Femme" />
        <label for="femme">Femme</label>
        <br>
      </div>

      <input [(ngModel)]="settingsForm.oldPassword" name="oldPassword" id="oldPassword" type="password" placeholder="Mot de passe actuel">
      <br>

      <input [(ngModel)]="settingsForm.newPassword" name="newPassword" id="newPassword" type="password" placeholder="Nouveau mot de passe">
      <br>

      <input *ngIf="myAuthServ.currentUser.isDriver" [(ngModel)]="settingsForm.licenseNumber" name="licenseNumber" id="licenseNumber"
        type="text" placeholder="Mon numéro de permis" value="{{currentUser?.licenseNumber}}">
      <br>

      <!-- if Passenger -->
      <div *ngIf="!myAuthServ.currentUser.isDriver">
        <label>
          <b>Mes informations de passager :</b>
        </label>
        <fieldset>

          <legend>Mes besoins spécifiques</legend>

          <div *ngFor="let oneNeed of needs">
            <input (change)="checkArray(oneNeed.text)" [checked]="settingsForm.specificNeedsA.includes(oneNeed.text)" [name]="oneNeed.id"
              [id]="oneNeed.id" type="checkbox" [value]="oneNeed.text">
            <label [for]="oneNeed.id">{{oneNeed.text}}</label>
          </div>
        </fieldset>
        <label for="comment">Avez-vous un besoin spécifique qui ne fait pas partie de la liste?</label>
        <br>
        <textarea [(ngModel)]="settingsForm.specificNeedsB" name="specificNeedsB" id="specificNeedsB" cols="30" rows="10"></textarea>
      </div>

      <input class="submit" type="submit" value="Enregistrer">
    </form>
  </div>
</div>

<div class="login-page" *ngIf="myAuthServ.currentUser.isDriver">
  <div class="form">
    <form (ngSubmit)="carSubmit()" class="login-form">
      <!-- if Driver -->
      <div>
        <label>Ajouter une voiture :</label>
        <input [(ngModel)]="carForm.brand" name="cars.brand" id="cars.brand" type="text" placeholder="Marque">
        <br>

        <input [(ngModel)]="carForm.model" name="cars.model" id="cars.model" type="text" placeholder="Modèle">
        <br>

        <input [(ngModel)]="carForm.color" name="cars.color" id="cars.color" type="text" placeholder="Couleur">
        <br>

        <input [(ngModel)]="carForm.licensePlate" name="cars.licensePlate" id="cars.licensePlate" type="text" placeholder="Plaque d'immatriculation">
        <br>

        <input [(ngModel)]="carForm.numberOfSeats" name="cars.numberOfSeats" id="cars.numberOfSeats" type="number" placeholder="Nombre de sièges">
        <br>

        <button>Valider</button>
      </div>
    </form>
  </div>
</div>